<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnimePlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnimePlayer.Properties.Settings>
            <setting name="idMain" serializeAs="String">
                <value>1ooEROdhBO4QbQHRDyKdm8OcjIgpYicqn</value>
            </setting>
            <setting name="RoundingControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateLink_Version" serializeAs="String">
                <value>https://drive.google.com/uc?export=download&amp;id=14Y98H4JD0MPXoodWJefB8k2CJCNWhUNl</value>
            </setting>
            <setting name="UpdateLink_File" serializeAs="String">
                <value />
            </setting>
        </AnimePlayer.Properties.Settings>
    </userSettings>
</configuration>